.text-404 {
  text-align: center;
  color: #FF6060;
  font-size: 18px;

  h1{
      font-size: 96px;
      font-weight: 700;
    }
    h2{
      font-weight: 500;
      margin-bottom: 7rem;
  }
  a {
    color: #FF6060 !important;
    border-bottom: 1px solid #FF6060;
  }
}
